# Ignore all CSVs under data/
data/AU/company_info/*.csv
data/AU/financial_statements/**/*.csv
data/HK/company_info/*.csv
data/HK/financial_statements/**/*.csv

# EXCEPT these two
!data/ticker_list/ASX_tickers_final.csv
!data/ticker_list/HK_tickers_final.csv

#ignore environment files
*.env
ssvenv/
*.egg-info/
*.log

#ignore other incomplete files
obtain_valuations_AU.ipynb
obtain_valuations_HK.ipynb
data_prep_au.ipynb

#ignores folders for self reference
deprecated/
others/

# Python-related ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.log